.idea/

/jw-A-backend/.mvn/
/jw-A-backend/target/
/jw-A-backend/src/test/
jw-A-backend/.idea/



/jw-B-backend/.mvn/
/jw-B-backend/target/
/jw-B-backend/src/test/
jw-B-backend/.idea/


/jw-C-backend/.mvn/
/jw-C-backend/target/
/jw-C-backend/src/test/
jw-C-backend/.idea/


/integration-backend/.mvn/
/integration-backend/src/test/
/integration-backend/.mvn/wrapper/
/integration-backend/target/

/jw-frontend/node_modules/
jw-frontend/.idea/